* {
    font-family: "Press Start 2P";
    color: white;
}

body {
    margin: 0;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
	overflow-x: hidden;
}

#seed {
    appearance: none;
    margin-top: 32px;
    background: transparent;
    border: none;

    position: absolute;
    text-align: center;
    font-size: 3rem;
    animation: showup 2s cubic-bezier(1, 0, 0.5, 1);
}

@keyframes showup {
    from {
		transform: scale(200%) translateY(300%);
    }
}

#canvas {
    margin-top: 8rem;
    border: 1px solid white;
    animation: fadeIn 2s cubic-bezier(1, 0, 0.5, 1);
}

@keyframes fadeIn {
	from {
        opacity: 0;
	}
	to {
        opacity: 1;
	}
}
